<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RGS Health Care</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/register.css" type="text/css">
</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Fill your details</h3>
                        <% include ./partials/messages %>
                            <form action="/Ddashboard/DeditProfile" method="POST" enctype="multipart/form-data">

                                <input type="hidden" name="userId" value=<%=user._id%>>
                                <div class="row register-form">

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="Name">Full Name</label>
                                            <input type="text" required class="form-control" name="name" id="Name "
                                                value="<%=user.name%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Address">Residential Address</label>
                                            <input type="text" required class="form-control" name="address"
                                                id="Address " value="<%=user.address%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="MedicalSchoolAttended">Medical School Attended</label>
                                            <input type="text" required class="form-control" name="medicalSchool"
                                                id="MedicalSchoolAttended " value="<%=user.medicalSchool%>" />
                                        </div>

                                        <div class="form-group">
                                            <label for="ClinicAddress">Clinic Address</label>
                                            <input type="text" required class="form-control" name="clinicAddress"
                                                id="ClinicAddress " value="<%=user.clinicAddress%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Language">Language</label>
                                            <input type="text" required class="form-control" name="language"
                                                id="Language " value="<%=user.language%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="YourEmail">Email Address</label>
                                            <input type="email" required class="form-control" name="email"
                                                id="YourEmail " value="<%=user.email%>" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password" required class="form-control" id="password"
                                                name="password" id="Password " value="<%=user.password%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm Password</label>
                                            <input type="password" required class="form-control" id="confirm_password"
                                                name="password2" value="<%=user.password%>" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DateOfBirth">Date Of Birth</label>
                                            <input type="date" required class="form-control" name="dateOfBirth"
                                                id="DateOfBirth " value="<%=date%>" />

                                        </div>
                                        <div class="form-group">
                                            <label for="YearsOfPractice">Years Of Practice</label>
                                            <input type="text" required class="form-control" name="yearsOfPractice"
                                                id="YearsOfPractice " value="<%=user.yearsOfPractice%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Speciality">Speciality</label>
                                            <input type="text" required class="form-control" name="speciality"
                                                id="Speciality " value="<%=user.speciality%>" />
                                        </div>

                                        <div class="form-group">
                                            <p>Choose your clinic timings</p>
                                            <label for="st">From</label>
                                            <input type="time" id="st" name="startTime" value="<%=start%>" required>
                                            <label for="et">To</label>
                                            <input type="time" id="et" name="endTime" value="<%=end%>" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="YourPhone">Mobile No</label>
                                            <input type="text" minlength="10" required maxlength="10" name="phone"
                                                class="form-control" id="YourPhone " value="<%=user.phone%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ConsultancyFees">Consultancy Fees</label>
                                            <input type="text" name="consultancyFees" class="form-control"
                                                id="ConsultancyFees " value="<%=user.consultancyFees%>" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gender">Gender</label>
                                            <div id="gender" class="maxl">

                                                <label class="radio inline">
                                                    <input type="radio" name="sex" value="<%=user.sex%>" checked>
                                                    <span> Male </span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" name="sex" value="<%=user.sex%>">
                                                    <span>Female </span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>

                                    <label for="photo">Want to Update you profile Pic?</label>
                                    <input style="margin: 0 2%" type="checkbox" name="Dcheckbox">

                                    <p><input type="file" class="fsize" accept="image/png,image/jpeg,image/jpg" id="file" name="photo"
                                            onchange="loadFile(event)"></p>
                                    <p><label for="file" style="cursor: pointer;"></label>
                                    </p>
                                    <p><img id="output" width="200" /></p>

                                    <button type="submit" class="btnRegister">Update</button>


                                </div>
                            </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="js/DeditProfile.js"></script>
    
    
    
</body>

</html>